@using Microsoft.AspNetCore.Http;
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions> LocalizationOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocalizationOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.Name })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path)
        ? "~/"
        : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";

    var IsSigned = signInManager.IsSignedIn(User);
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ESTA - Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="~/template/img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link href="~/template/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/template/css/inner.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/template/css/owl.carousel.min.css">
    <link href="~/template/css/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/template/css/magnific-popup.css">
    <link rel="stylesheet" href="~/template/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/template/css/themify-icons.css">
    <link rel="stylesheet" href="~/template/css/slick.css">
    <link rel="stylesheet" href="~/template/css/meanmenu.css">
    <link rel="stylesheet" href="~/template/css/default.css">
    <link href="~/template/aos/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/template/css/style.css">
    <link rel="stylesheet" href="~/template/css/responsive.css">
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <!-- header-start -->
    <header id="home">
        <div class="header-area">
            <!-- header-top -->
            <div class="header-top primary-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                            <div class="header-contact-info d-flex">
                                <div class="header-contact header-contact-email">
                                    <span class="ti-email"></span>
                                    <p class="email-name">internal@estaegypt.org</p>
                                </div>
                                <div class="header-contact header-login">
                                    <span class="ti-user"></span>
                                    <a href="/Account/Login" target="_blank" class="loginBtn">Login</a>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="header-social-icon-list">
                                <ul>
                                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                                    <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                                    <li><a href="#"><span class="ti-google"></span></a></li>
                                    <li><a href="#"><span class="ti-linkedin"></span></a></li>
                                    <li><a href="#"><span class="ti-world"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /end header-top -->
            <!-- header-bottom -->
            <div class="header-bottom-area header-sticky" style="transition: .2s;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2 col-md-10 col-6">
                            <div class="logo">
                                <a href="/Home/Index">
                                    <img src="~/template/img/logo/esta_logo3.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-1 col-6">
                            <div class="header-bottom-icon f-right">
                                <ul>
                                    <li class="toggle-search-icon">
                                        <a href="#">
                                            <span class="ti-search"></span>
                                            <div class="toggle-search-box">
                                                <form action="#" id="searchbox">
                                                    <input placeholder="Search" type="text">
                                                    <button class="button-search"><span class="ti-search"></span></button>
                                                </form>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="main-menu f-right">
                                <nav id="mobile-menu" style="display: block;">
                                    <ul>
                                        <li>
                                            <a href="/Home/Index">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">About</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="about_us.html">About Esta</a>
                                                </li>
                                                <li>
                                                    <a href="about_us.html">About Technical Analysis</a>
                                                </li>
                                                <li>
                                                    <a href="about_us.html">Code Of Ethics "Bylaws"</a>
                                                </li>
                                                <li>
                                                    <a href="board_directors.html">Board Of Directors</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Education</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">CETA</a>
                                                </li>
                                                <li>
                                                    <a href="courses.html">Other Courses</a>
                                                </li>
                                                <li>
                                                    <a href="#">CETA Holders</a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Membership</a>
                                            <ul class="submenu">
                                                @if (IsSigned)
                                                {
                                                    <li>
                                                        <a href="/Forums/Index">Discussion Board "Forum"</a>
                                                    </li>
                                                }
                                                <li>
                                                    <a href="/EventsNews/Index">Events &amp; News</a>
                                                </li>
                                                <li>
                                                    <a href="#">Benefits Of Membership</a>
                                                </li>
                                                <li>
                                                    <a href="#">Become a Member</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">IFTA</a>
                                        </li>
                                        <li>
                                            <a href="contact_us.html">Contacts</a>
                                        </li>
                                        <li>
                                            <form asp-controller="Lang" asp-action="SetCulture" asp-route-returnUrl="@returnUrl"
                                                  class="form-horizontal nav-link text-dark row">
                                                <select id="langddl" name="culture"
                                                        class="form-control"
                                                        onchange="this.form.submit();"
                                                        asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                                        asp-items="cultureItems">
                                                </select>
                                            </form>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /end header-bottom -->
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="Footer">
        <div class="footer-area primary-bg pt-80">
            <div class="container">
                <div class="footer-top pb-20">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-3">
                            <div class="footer-widget mb-30">
                                <div class="footer-logo">
                                    <img src="~/template/img/logo/esta_logo1.png" alt="" class="footer-logo">
                                </div>


                            </div>
                        </div><div class="col-xl-4 col-lg-3 col-md-4">
                            <div class="footer-widget mb-30">
                                <div class="footer-heading">
                                    <h1>Quick Links</h1>
                                </div>
                                <div class="footer-menu clearfix">
                                    <ul>
                                        <li><p class="footer-menu-item"><span class="ti-angle-double-right"></span><a href="#">Home</a></p></li>
                                        <li><p class="footer-menu-item"><span class="ti-angle-double-right"></span><a href="#">Membership</a></p></li>
                                        <li><p class="footer-menu-item"><span class="ti-angle-double-right"></span><a href="#">About</a></p></li>
                                        <li><p class="footer-menu-item"><span class="ti-angle-double-right"></span><a href="#">IFTA</a></p></li>
                                        <li><p class="footer-menu-item"><span class="ti-angle-double-right"></span><a href="#">Education</a></p></li>
                                        <li><p class="footer-menu-item"><span class="ti-angle-double-right"></span><a href="#">Contacts</a></p></li>

                                    </ul>
                                </div>
                            </div>
                        </div><div class="col-xl-4 col-lg-4  col-md-5">
                            <div class="footer-widget mb-30">
                                <div class="footer-heading">
                                    <h1>Contact Us</h1>
                                </div>
                                <div class="footer-contact-list">
                                    <div class="single-footer-contact-info">
                                        <span class="ti-headphone "></span>
                                        <span class="footer-contact-list-text">+202 - 37629820/  +202 - 37629830</span>
                                    </div>
                                    <div class="single-footer-contact-info">
                                        <span class="ti-email "></span>
                                        <span class="footer-contact-list-text">internal@estaegypt.org</span>
                                    </div>
                                    <div class="single-footer-contact-info">
                                        <span class="ti-location-pin"></span>
                                        <span class="footer-contact-list-text">45 , Mossadak St. , Dokki , 6th floor, Appartment 11</span>
                                    </div>
                                </div>

                            </div>
                        </div><div class="col-xl-2 col-lg-2  col-md-12">
                            <div class="footer-widget mb-30">
                                <div class="footer-heading">
                                    <h1>Follow Us</h1>
                                </div>
                                <div class="footer-social-icon-list">
                                    <ul>
                                        <li><a href="#"><span class="ti-facebook"></span></a></li>
                                        <li><a href="#"><span class="ti-twitter-alt"></span></a></li>

                                        <li><a href="#"><span class="ti-google"></span></a></li>
                                        <li><a href="#"><span class="ti-pinterest"></span></a></li>

                                    </ul>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>
                <div class="footer-bottom pt-25 pb-25">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="footer-copyright text-center">
                                    <div class="container">
                                        <div class="copyright">
                                            <span>© Copyright ESTA All Rights Reserved.</span>
                                        </div>
                                        <div class="credits">
                                            <span>Powred By</span>
                                            <a href="https://www.mist-net.com" target="_blank">MIST</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- JS here -->
    <script src="~/template/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/template/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/template/aos/aos.js"></script>
    <script src="~/template/js/popper.min.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/owl.carousel.min.js"></script>
    <script src="~/template/js/isotope.pkgd.min.js"></script>
    <script src="~/template/js/one-page-nav-min.js"></script>
    <script src="~/template/js/slick.min.js"></script>
    <script src="~/template/js/ajax-form.js"></script>
    <script src="~/template/js/wow.min.js"></script>
    <script src="~/template/js/jquery.meanmenu.min.js"></script>
    <script src="~/template/js/jquery.barfiller.js"></script>
    <script src="~/template/js/jquery.scrollUp.min.js"></script>
    <script src="~/template/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/template/js/jquery.counterup.min.js"></script>
    <script src="~/template/js/waypoints.min.js"></script>
    <script src="~/template/js/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/fullcalendar-6.0.1/dist/index.global.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/template/js/plugins.js"></script>
    <script src="~/template/js/custom.js"></script>
    <script src="~/template/js/custom.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/customckeditor.js"></script>
    <script src="~/lib/ckeditor/ck-editor-initialize.js"></script>
    <script src="~/lib/ckeditor/plugins/insertimage/plugin.js"></script>
    <script src="~/template/js/main.js"></script>

    @await RenderSectionAsync("Scripts",required: false)
    <script>

        function padTo2Digits(num) {
            return num.toString().padStart(2, '0');
        }
        function copyToClipboard(id) {
            var base_url = window.location.origin;
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(base_url + "/Forums/GetComment/" + id).select();
            document.execCommand("copy");
            $temp.remove();

            alert("Copied the Link");
        }
        function formatDate(date) {
            var newDate = new Date(date);
            var fullDate = [
                newDate.getFullYear(),
                padTo2Digits(newDate.getMonth() + 1),
                padTo2Digits(newDate.getDate()),
            ].join('/') +
                ' ' +
                [
                    padTo2Digits(newDate.getHours() % 12 || 12),
                    padTo2Digits(newDate.getMinutes()),
                    padTo2Digits(newDate.getSeconds()),
                ].join(':');
            if (newDate.getHours() > 12) {

                fullDate += ' ' + 'PM'
            }
            else {
                fullDate += ' ' + 'AM'
            }
            return fullDate;
        }
    </script>
</body>
</html>
