@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ESTA.ViewModels.GetUserForums
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager;
@{
    var user = await userManager.GetUserAsync(User);
    var role = await userManager.IsInRoleAsync(user, "Admin");
    var admin = role.ToString().ToLower();
    ICollection<ESTA.ViewModels.GetUserForums> commentList = new List<ESTA.ViewModels.GetUserForums>();
    commentList.Add(Model);
}
<style>
    .delete {
        color: red !important;
    }
</style>
<div class="card x-75">
    <div class="card-body">
        @await Html.PartialAsync("_RenderComment", new ESTA.ViewModels.RenderComment
        {
        showAllLink = false,
        showReply = true,
        UserForums = commentList
        })
        <input type="hidden" value="@Model.Id" id="ParentId" />
        <input type="hidden" value="@Model.forumId" id="ForumId" />
    </div>
</div>

@section Scripts{
    <script src="~/js/forumsfuncs.js"></script>
    <script>
        var pageNo = 0
        $(document).ready(function () {

            getReplies();
        });
        function AddReply(id) {
            if ($('#reply' + id).val()) {
                $.ajax({
                    type: 'post',
                    dataType: 'JSON',
                    url: '/Forums/AddReply',
                    data: {
                        forumId: $('#ForumId').val(),
                        comment: $('#reply' + id).val(),
                        parentId: id
                    },
                    success: function (data) {
                        $('#reply' + id).val('')
                        pageNo = 1
                        ListReplies(data, false)
                        $('#replyToggle' + id).css('visibility', 'visible')

                        checkCommentReplies()
                    },
                    error: function (data) {
                        console.log('hiii')
                    }
                });
            }
            else {
                $('#rplyErr').text('Enter valid reply')
            }
        }
        function getReplies() {
            var id = $('#ParentId').val()
            $.ajax({
                type: 'get',
                dataType: 'JSON',
                url: '/Forums/GetCommentReplies',
                data: {
                    parentId: $('#ParentId').val(),
                    page: pageNo++
                },
                success: function (data) {
                    checkCommentReplies()
                    $('#reply' + id).val('')
                    ListReplies(data, true)
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }
        function ListReplies(data, append) {
            var str = ""
            var id = $('#ParentId').val()
            $.each(data, function (i, obj) {

                str += "<li id='comment" + obj.id + "' class='mb-3'><div class='comments-box d-flex'><div class='comments-avatar'><img src='https://i.imgur.com/CFpa3nK.jpg' alt='' class='rounded-circle shadow-1-strong me-3' width='65' height='65'></div>" +
                    "<div class='comments-text'><div class='avatar-name'><h5>" + obj.userName + "<span class='small'> - " + formatDate(obj.createdDate) + "</span></h5></div><p>" + obj.comment + "</p>";
                if (@admin) {
                    str += "<a onclick='DeleteReply" + obj.id + "' class='link-danger delete'>Delete</a>";
                }
                str += "</div></div></li>";
            });
            if (append) {
                $('#replyList' + id).append(str);
            }
            else
                $('#replyList' + id).html(str);
            $('#replyCollapse' + id).collapse('show');
        }

        function checkCommentReplies() {
            $.ajax({
                type: 'get',
                dataType: 'JSON',
                url: '/Forums/CheckCommentReplies',
                data: {
                    parentId: $('#ParentId').val(),
                    page: pageNo
                },
                success: function (data) {
                    if (!data) {
                        $('#MoreBtn').hide();
                    }
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }
    </script>
}
