@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<ESTA.ViewModels.GetUserForums>
<style>
    .delete {
        color: red !important;
    }
</style>
@if (Model.Count > 0)
{
    <div class="news-details-area  pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="post-comments post-comments-padding white-bg">
                        <div class="latest-comments">
                            <ul id="CommentList">
                                @await Html.PartialAsync("_RenderComment", new ESTA.ViewModels.RenderComment
                            {
                            showAllLink = true,
                            showReply = false,
                            UserForums = Model
                            })
                            </ul>
                        </div>
                        <button onclick="getNextPage()" class="btn btn-link my-2">Load more...</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" value="@ViewBag.query" id="query">
    </div>

}
else
{
    <div class="card">
        <div class="card-text">
            <h2>Couldn't find search results try different query</h2>
        </div>
    </div>
}
@section Scripts{
    <script src="~/js/forumsfuncs.js"></script>
    <script>
        $(document).ready(function () {
        });
        var commentPage = 1;
        function getNextPage() {
            $.ajax({
                type: 'get',
                url: '@this.Url.Action("GetNextSearchComment","Forums")',
                data: {
                    query: $('#query').val(),
                    page: commentPage++,
                },
                success: function (data) {
                    $('#CommentList').append(data);
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }
    </script>
    }
