@{

    Layout = "_AdminLayout";

}

@model Content


<h3>Vission </h3>

<input type="file" id="ck_imageUploader" accept="image/gif, image/jpeg, image/png"
       style="display:none;" />


<form method="post" asp-controller ="Content" asp-action="Vission" asp- asp-area="Admin" >
    @Html.HiddenFor(y=>y.Id)
    <h5>English Description</h5>
<textarea id="editor" asp-for="@Model.DescriptionEn"></textarea>
    <h5>Arabic Description</h5>

<textarea id="editorAr" asp-for="@Model.DescriptionAr"></textarea>



    <button type="submit"  class="btn btn-primary"  >Submit</button>
</form>




<script src="~/js/ckeditor/ckeditor.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>


<script>

    $(document).ready(function () {
        CKEDITOR.replace("editor");
    });

    $(document).ready(function () {
        CKEDITOR.replace("editorAr");
    });
</script>