

@{
    
    Layout="_AdminLayout";

}




<div class="jumbotron">
    <h1 class="display-4">Admin Dashboard</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>Quick Links  <p class="lead">
<a asp-action="usersapproval" asp-controller="home" asp-area="admin">Users Approval</a>

    </p>
</div>