

@{
    
    Layout="_AdminLayout";

}



<br><br />
<div class="jumbotron d-flex justify-content-center align-items-center flex-column">
    <h1 class="display-4">@localizer["dashboard"]</h1>

@*
    <div id="courses-grid" style="display:grid;grid-gap:10px;grid-template-columns:1fr 1fr 1fr 1fr">

        <div style="        height: 200px; width :200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(180deg, #F44336 39%, rgb(255 37 37) 100%);
    border-radius: 14px;">

    65465465ببببببببببببببب

</div>

        <div style="         height: 200px; width :200px;

    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(180deg, #F44336 39%, rgb(255 37 37) 100%);
    border-radius: 14px;">

            846546
        </div>

        <div style="           height: 200px; width :200px;

    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(180deg, #F44336 39%, rgb(255 37 37) 100%);
    border-radius: 14px;">
            7465464


</div>

        <div style="         height: 200px; width :200px;

    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(180deg, #F44336 39%, rgb(255 37 37) 100%);
    border-radius: 14px;">
            878968
        </div>
        <div style="         height: 200px; width :200px;

    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(180deg, #F44336 39%, rgb(255 37 37) 100%);
    border-radius: 14px;">
            878968
        </div>   <div style="         height: 200px; width :200px;

    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(180deg, #F44336 39%, rgb(255 37 37) 100%);
    border-radius: 14px;">
            878968
        </div>   <div style="         height: 200px; width :200px;

    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(180deg, #F44336 39%, rgb(255 37 37) 100%);
    border-radius: 14px;">
            878968
        </div>

</div>
*@



   
<a asp-action="index" style="decoration:none" asp-controller="home" asp-area="">@localizer["home"]</a>

    
</div>