@{

    Layout = "_AdminLayout";

}



@model IEnumerable<User>

    <h3>Users waiting to be activated</h3>

<table id="courses-table" class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
			<th>Registration Date</th>

			<th>Actions</th>
           
          
     
         

        </tr>

    </thead>
    <tbody>


        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.FullName</td>

					<td>@item.JoinDate.ToShortDateString()</td>
                   
                    <td>
                      @if (item.IsApproved)
                      {
                          @Html.ActionLink("Disapprove", "EditApproval", new { id = item.Id,isApproved=false }, new { @class = "btn btn-warning" }) ;
                  
                      }else{
                       @Html.ActionLink("Approve", "EditApproval", new { id = item.Id,isApproved=true }, new { @class = "btn btn-danger" });
                      
                      }     </td>

                </tr>
            }
        }
    </tbody>
</table>