@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Content


<h3>Technical Analysis </h3>

<input type="file" id="ck_imageUploader" accept="image/gif, image/jpeg, image/png"
       style="display:none;" />


<form asp-action="TechnicalAnalysis" asp-controller="Content">
    @Html.HiddenFor(y=>y.Id)
    <h5>English Description</h5>
<textarea id="editor" asp-for="@Model.DescriptionEn"></textarea>
    <h5>Arabic Description</h5>

<textarea id="editorAr" asp-for="@Model.DescriptionAr"></textarea>



    <button type="submit">Submit</button>
</form>




<script src="~/js/ckeditor/ckeditor.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>


<script>

    $(document).ready(function () {
        CKEDITOR.replace("editor");
    });

    $(document).ready(function () {
        CKEDITOR.replace("editorAr");
    });
</script>