@{

    Layout = "_AdminLayout";

}
@model ESTA.Models.Level


<h2>Edit Level</h2>
<hr />
<form method="post">


<div class="form-group">
    <label>Name</label>
 @*   <input type="text" class="form-control"  />*@
    @Html.EditorFor(M=>M.TypeName, new { htmlAttributes = new { @class = "form-control" } })
</div>


@Html.HiddenFor(y=>y.Id)
<button type="submit" class="btn btn-primary">Submit</button>


</form>