@{

    Layout = "_AdminLayout";

}
@model IEnumerable<ESTA.Models.Level>


    <h2>All Levels</h2>
    <a asp-action="AddLevel">Add Level</a>
    <hr />


<table>
    <thead>

        <tr>
            <th>ID</th>
            <th>Name</th>

        </tr>
    </thead>
    <tbody>


        @{
            foreach (var item in Model)
            {
                <tr> 
                <td>@item.Id</td>
                    <td>@item.TypeName</td>
                    <td>
                        @Html.ActionLink("Edit", "EditLevel", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    </td>
                </tr>
            }
        }
    </tbody>
</table>