@model IEnumerable<ESTA.Models.Level>

@{
    ViewData["Title"] = "_results";
}

@*<h1>_results</h1>*@


<table class="table table-borderless">
    <thead>
        <tr>
            <th>
@localizer["coursename"]
            </th>
            <th>
                @localizer["coursegrade"]
            </th>
    
        </tr>
    </thead>
    <tbody>

            <tr>
            <td>
                Business Analysis
            </td>
            <td>
                97
            </td>
       
        </tr>







        <tr>
            <td>
                Technical Analysis
            </td>
            <td>
                55
            </td>

        </tr>




        <tr>
            <td>
                Business Intelligence
            </td>
            <td>
                97
            </td>

        </tr>


    </tbody>
</table>
