@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

    #body {
        margin: 40px 10px;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }

    .fc-daygrid-day-number, .fc-col-header-cell-cushion {
        text-decoration: none;
        color: black;
    }

    #calendar {
        max-width: 1100px;
        margin: 0 auto;
    }

</style>

<div class="box box-primary">
    <div class="box-body no-padding">

        <div id="calendar"></div>
    </div>
</div>
