@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(@Url.Content("~/template/img/inner-bg.png"));">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">About Us</h1>
                            <nav class="text-center" aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->
<!-- about start -->
<div id="about" class="about-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 ">
                <div class="about-img">
                    <img src="@Url.Content("~/template/img/about/about_details_left_img.jpg")" alt="">
                </div>
                <div class="about-title-section about-title-section-2 mb-30">
                    <h1>The Egyptian Society of Technical Analysts ( ESTA )</h1>
                    <p>
                        Technical analysis is a security analysis discipline for forecasting the future direction of prices through the study of charts of past market data, primarily price and volume.

                        The Egyptian Society of Technical Analysts (ESTA) is the first professional technical analysis society in the Middle East.

                        ESTA is a non-profit organization founded in 2000 by Mr. Amr Dabbous and Mr. Ayman Waked with the aim to disseminate & teach the science of technical analysis all around Egypt. 

                        ESTA is a full member of the International Federation of Technical Analysts (IFTA), and that placed the Egyptian Society of Technical Analysts (ESTA) as one of the top societies around the globe, along with STA (England), NTAA (Japan) & ATAA (Australia).

                        ESTA has done a lot of achievements through the past ten years with the efforts of the distinguished ESTA members & they all were working as volunteers for the sake of achieving the society's targets & goals. Here are some of ESTA achievements  

                        1.  Dissemination of technical analysis in Egypt significantly and effectively as well as the creation of demand on the profession of technical analyst by Arab and Egyptian companies.  

                        2.  ESTA certificate (CETA) has become the third certificate around the world after Japan & Australia's certificates that is accredited to be equivalent to the international Certificate of the international Federation of Technical Analysts (CFTe). 

                        3.  ESTA has become one of the biggest societies worldwide and has acquired great credibility in Egypt and abroad. 

                        4.  The number of its members grew from seven members to more than 900 members within the past ten years that followed the Establishment of the Society. 

                        5.  The Trend course, an educational assembly of 1000 participants in the largest conference hall in Egypt, organized by Trend Company led by Mr.Karim Shalaby. 

                        6.  The courses provided by the Egyptian Society of Technical analysts have become one of the strongest courses in the world.  
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- about end -->