@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- slider-start -->
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(@Url.Content("~/template/img/inner-bg.png"));">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">Other Courses</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->
<div class="course-details-area  pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1500">
                        <div class="courses-wrapper courses-wrapper-3 mb-30">
                            <div class="courses-thumb">
                                <a asp-controller="Home" asp-action="CourseDetail"><img src="@Url.Content("~/template/img/blog/blog_thumb_8.jpg")" alt=""></a>
                            </div>
                            <div class="courses-content courses-content-3 clearfix">
                                <div class="courses-heading mt-25 d-flex">
                                    <div class="course-title-3">
                                        <h1><a asp-controller="Home" asp-action="CourseDetail">Course Title</a></h1>
                                    </div>
                                    <div class="courses-pricing-3">
                                        <span>$24.99</span>
                                    </div>
                                </div>
                                <div class="courses-para mt-15">
                                    <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                </div>
                                <div class="course-date mt-15">
                                    <span class="course-date-icon ti-calendar"></span>
                                    <span class="start-date-text">Start Date </span>
                                    <span>DEC 11, 2017</span>
                                </div>
                                <div class="courses-wrapper-bottom clearfix mt-35">
                                    <div class="courses-button">
                                        <a asp-controller="Home" asp-action="CourseDetail">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1500">
                        <div class="courses-wrapper courses-wrapper-3 mb-30">
                            <div class="courses-thumb">
                                <a asp-controller="Home" asp-action="CourseDetail"><img src="@Url.Content("~/template/img/blog/blog_thumb_8.jpg")" alt=""></a>
                            </div>
                            <div class="courses-content courses-content-3 clearfix">
                                <div class="courses-heading mt-25 d-flex">
                                    <div class="course-title-3">
                                        <h1><a asp-controller="Home" asp-action="CourseDetail">Course Title</a></h1>
                                    </div>
                                    <div class="courses-pricing-3">
                                        <span>$24.99</span>
                                    </div>
                                </div>
                                <div class="courses-para mt-15">
                                    <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                </div>
                                <div class="course-date mt-15">
                                    <span class="course-date-icon ti-calendar"></span>
                                    <span class="start-date-text">Start Date </span>
                                    <span>DEC 11, 2017</span>
                                </div>
                                <div class="courses-wrapper-bottom clearfix mt-35">
                                    <div class="courses-button">
                                        <a asp-controller="Home" asp-action="CourseDetail">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1500">
                        <div class="courses-wrapper courses-wrapper-3 mb-30">
                            <div class="courses-thumb">
                                <a asp-controller="Home" asp-action="CourseDetail"><img src=@Url.Content("~/template/img/blog/blog_thumb_8.jpg") alt=""></a>
                            </div>
                            <div class="courses-content courses-content-3 clearfix">
                                <div class="courses-heading mt-25 d-flex">
                                    <div class="course-title-3">
                                        <h1><a asp-controller="Home" asp-action="CourseDetail">Course Title</a></h1>
                                    </div>
                                    <div class="courses-pricing-3">
                                        <span>$24.99</span>
                                    </div>
                                </div>
                                <div class="courses-para mt-15">
                                    <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                </div>
                                <div class="course-date mt-15">
                                    <span class="course-date-icon ti-calendar"></span>
                                    <span class="start-date-text">Start Date </span>
                                    <span>DEC 11, 2017</span>
                                </div>
                                <div class="courses-wrapper-bottom clearfix mt-35">
                                    <div class="courses-button">
                                        <a asp-controller="Home" asp-action="CourseDetail">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1500">
                        <div class="courses-wrapper courses-wrapper-3 mb-30">
                            <div class="courses-thumb">
                                <a asp-controller="Home" asp-action="CourseDetail"><img src=@Url.Content("~/template/img/blog/blog_thumb_8.jpg") alt=""></a>
                            </div>
                            <div class="courses-content courses-content-3 clearfix">
                                <div class="courses-heading mt-25 d-flex">
                                    <div class="course-title-3">
                                        <h1><a asp-controller="Home" asp-action="CourseDetail">Course Title</a></h1>
                                    </div>
                                    <div class="courses-pricing-3">
                                        <span>$24.99</span>
                                    </div>
                                </div>
                                <div class="courses-para mt-15">
                                    <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                </div>
                                <div class="course-date mt-15">
                                    <span class="course-date-icon ti-calendar"></span>
                                    <span class="start-date-text">Start Date </span>
                                    <span>DEC 11, 2017</span>
                                </div>
                                <div class="courses-wrapper-bottom clearfix mt-35">
                                    <div class="courses-button">
                                        <a asp-controller="Home" asp-action="CourseDetail">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1500">
                        <div class="courses-wrapper courses-wrapper-3 mb-30">
                            <div class="courses-thumb">
                                <a asp-controller="Home" asp-action="CourseDetail"><img src=@Url.Content("~/template/img/blog/blog_thumb_8.jpg") alt=""></a>
                            </div>
                            <div class="courses-content courses-content-3 clearfix">
                                <div class="courses-heading mt-25 d-flex">
                                    <div class="course-title-3">
                                        <h1><a asp-controller="Home" asp-action="CourseDetail">Course Title</a></h1>
                                    </div>
                                    <div class="courses-pricing-3">
                                        <span>$24.99</span>
                                    </div>
                                </div>
                                <div class="courses-para mt-15">
                                    <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                </div>
                                <div class="course-date mt-15">
                                    <span class="course-date-icon ti-calendar"></span>
                                    <span class="start-date-text">Start Date </span>
                                    <span>DEC 11, 2017</span>
                                </div>
                                <div class="courses-wrapper-bottom clearfix mt-35">
                                    <div class="courses-button">
                                        <a asp-controller="Home" asp-action="CourseDetail">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1500">
                        <div class="courses-wrapper courses-wrapper-3 mb-30">
                            <div class="courses-thumb">
                                <a asp-controller="Home" asp-action="CourseDetail"><img src=@Url.Content("~/template/img/blog/blog_thumb_8.jpg") alt=""></a>
                            </div>
                            <div class="courses-content courses-content-3 clearfix">
                                <div class="courses-heading mt-25 d-flex">
                                    <div class="course-title-3">
                                        <h1><a asp-controller="Home" asp-action="CourseDetail">Course Title</a></h1>
                                    </div>
                                    <div class="courses-pricing-3">
                                        <span>$24.99</span>
                                    </div>
                                </div>
                                <div class="courses-para mt-15">
                                    <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                </div>
                                <div class="course-date mt-15">
                                    <span class="course-date-icon ti-calendar"></span>
                                    <span class="start-date-text">Start Date </span>
                                    <span>DEC 11, 2017</span>
                                </div>
                                <div class="courses-wrapper-bottom clearfix mt-35">
                                    <div class="courses-button">
                                        <a asp-controller="Home" asp-action="CourseDetail">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>