
@{
    ViewData["Title"] = "Home Page";
}
@model ESTA.ViewModels.HomeIndexViewModel

<!-- slider-start -->
<div class="slider-area pos-relative">
    <div class="slider-active">
        <div class="single-slider slider-height slider-height-3 d-flex align-items-center justify-content-center" style="background-image: url(/template/img/slider/banner1.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="slider-content slider-content-2 slider-content-3 text-center">
                            <h1 class="white-color f-700" data-animation="fade-up" data-delay=".2s">Welcome To ESTA</h1>
                            <p data-animation="fade-up" data-delay=".4s">The Egyptian Society of Technical Analysts</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height slider-height-3 d-flex align-items-center justify-content-center" style="background-image: url(/template/img/slider/banner2.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="slider-content slider-content-2 slider-content-3 text-center">
                            <h1 class="white-color f-700" data-animation="fade-up" data-delay=".2s">Education Get Light <br> In Human Life</h1>
                            <p data-animation="fade-up" data-delay=".4s">Sorem ipsum dolor sit amet consectetur adipisicing elit sed do <br> eiusmod tempor incididunt ut labore </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height slider-height-3 d-flex align-items-center justify-content-center" style="background-image: url(/template/img/slider/banner3.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="slider-content slider-content-2 slider-content-3 text-center">
                            <h1 class="white-color f-700" data-animation="fade-up" data-delay=".2s">First Professional Technical Analysis Society</h1>
                            <p data-animation="fade-up" data-delay=".4s">In The Middle East</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height slider-height-3 d-flex align-items-center justify-content-center" style="background-image: url(/template/img/slider/banner4.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="slider-content slider-content-2 slider-content-3 text-center">
                            <h1 class="white-color f-700" data-animation="fade-up" data-delay=".2s">ESTA is welcoming  <br>any new volunteers</h1>
                            <p data-animation="fade-up" data-delay=".4s">Join to  the ESTA  team </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->
<!-- about start -->
<div id="about" class="about-area pt-80 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="about-title-section mb-30 aos-init aos-animate" data-aos="flip-up" data-aos-duration="1200">
                    <h1>About ESTA</h1>
                    <h5>The Egyptian Society of Technical Analysts ( ESTA )</h5>
                    <p>
                 @Model.About
                 </p>
                 
                    <a class="theme-btn blue-bg-border mt-20" href="/Home/About?type=about"><span class="btn-text">Read More</span></a>
                    
                    <!--<button class="theme-btn blue-bg-border mt-20"><span class="btn-text">Read More</span></button>-->
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 aos-init aos-animate" data-aos="flip-down" data-aos-duration="1200">
                <div class="about-right-img mb-30">
                    <img src="/template/img/about/about-right.png" alt="">
                </div>
            </div>
        </div>

    </div>
</div>
<!-- about end -->
<!-- latest_news start -->
@await Component.InvokeAsync("Events")
<!-- latest_blog end -->
<!-- choose section -->
<div id="choose" class="visionMission events-bg-height pt-70 pb-20 ">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1  aos-init aos-animate" data-aos="fade-up"
                      data-aos-anchor-placement="center-center" data-aos-duration="1000">
                <div class="section-title mb-50 text-center">
                    <div class="section-title-heading mb-20">
                        <h1 class="primary-color">Why Choose Us</h1>
                    </div>

                </div>
            </div>
        </div>
        <div class="row missionVissonRow">
            <div class="col-md-5 mb-5 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1500">
                <div class="choose_box">

                    <div><img src="/template/img/vission_trans.png" alt="#" /><h3>Our Vission</h3></div>

                    <p> @Model.Vission</p>

                    <a class="vissionMissionBtn theme-btn blue-bg-border mt-10" href="VissionMission.html"><span class="btn-text">Read More</span></a>
                </div>
            </div>
            <div class="col-md-5 mb-5 aos-init aos-animate" data-aos="zoom-in-up" data-aos-duration="1500">
                <div class="choose_box">
                    <div><img src="/template/img/mission_trans.png" alt="#" /><h3>Our Mission</h3></div>

                    <p>@Model.Mission</p>
                    <a class="vissionMissionBtn theme-btn blue-bg-border mt-10" href="VissionMission.html"><span class="btn-text">Read More</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end choose section -->
<!-- courses start -->
<div id="upComingCourses" class="events-area events-bg-height pt-100 pb-50" style="background-image: url(/template/img/shop_bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 aos-init aos-animate" data-aos="fade-up"
                 data-aos-anchor-placement="center-center" data-aos-duration="1000">
                <div class="section-title mb-50 text-center">
                    <div class="section-title-heading mb-20">
                        <h1 class="white-color">Upcoming Courses</h1>
                    </div>

                </div>
            </div>
        </div>

        <div class="events-list mb-30">
            <div class="row">
                <div class="col-xl-6 col-lg-6 mb-30 aos-init aos-animate" data-aos="fade-down"
                     data-aos-duration="1500">

                    <style>
                        #courses-calendar {
                            max-width: 1100px;
                            margin: 0 auto;
                            background-color: white;
                        }
                    </style>

                    <div id="courses-calendar"></div>



                </div>
                <div class="col-xl-6 col-lg-6 aos-init aos-animate" data-aos="fade-up"
                     data-aos-duration="1500">
                    <div class="single-events mb-30">
                        <div class="events-wrapper">
                            <div class="events-inner d-flex">
                                <div class="events-thumb">
                                    <img src="/template/img/events/event2.png" alt="">
                                </div>
                                <div class="events-text white-bg">
                                    <div class="event-text-heading mb-20">
                                        <div class="events-calendar text-center f-left">
                                            <span class="date">25</span>
                                            <span class="month">Sep, 2018</span>
                                        </div>
                                        <div class="events-text-title clearfix">
                                            <a href="course_details.html">
                                                <h4>Admission Fair 2017</h4>
                                            </a>
                                            <div class="time-area">
                                                <span class="ti-time"></span>
                                                <span class="published-time">05:23 AM - 09:23 AM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="events-para">
                                        <p>Event is veries fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                    </div>
                                    <div class="events-speaker">
                                        <h2>Speaker : <span>Alexzender</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- courses end -->

<!-- events start -->
@await Component.InvokeAsync("UpcomingEvents")
<!-- events end -->




<style>
    .card {
        transition: 0.5s ease-in-out;
        overflow: hidden;
        /*z-index:10;
                */
    }

	</style> 
    
  


                        @section Scripts{
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/moment.js"></script>
	<script src="~/lib/fullcalendar-6.0.1/dist/index.global.min.js"></script>
	<script src="~/lib/fullcalendar-6.0.1/dist/index.global.js"></script>
    <script src="~/js/course.js"></script>
    <script src="~/js/calenderscript.js"></script>

  <script src="~/js/coursecalendar.js"></script>


 
}