@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<br />




<div class="container">
	<h3>Privacy Policy</h3>
    The Egyptian Society of Technical Analysts (ESTA) is committed to protecting the privacy and security of your personal information. This privacy policy explains how and why we collect and use your personal data, ensuring that you can trust us with your information.
	<h5>What Personal Data Do We Collect?</h5>
    We collect and use your personal data, which includes any information that can identify you or is related to you personally. This information may include your name, address, phone number, email address, and any relevant ESTA education qualifications.

	<h5>Why Do We Collect This Information?</h5>
    We maintain this data to provide services to our members effectively. This includes keeping you informed about our society's news and activities. We may also use your personal data to send renewal information via mail and email. Our use of your personal data complies with relevant lawful grounds as permitted by applicable data protection regulations.

	<h5>   Securing Your Personal Data</h5>
    Your privacy is of utmost importance to us. We take measures to keep your personal details secure. Your contact information is used to communicate society news and activities. We do not share members' personal data with third parties.

	<h5>Updating Your Data and Preferences</h5>
    We want you to have control over your personal data. If you ever need to update or amend your personal information or communication preferences, please reach out to us at "info@estaegypt.org" or call our office at "45 Mossadak Street, floor 6, App.11 above Costa Coffee Shop" Tel.: 37629830-37629820.
    If, in the future, you wish for us to delete your personal information, you have the right to instruct us accordingly, and we will promptly comply with your request.

</div>

    <br />
    <br />