@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />


<div class="container">

<h3>Terms & Conditions</h3>



    Terms and Conditions for the Egyptian Society of Technical Analysts <br />
    1. Introduction <br />
    Welcome to the Egyptian Society of Technical Analysts. These Terms and Conditions ("Terms") govern your use of our services, including our website, events, and any other digital platforms or materials provided by the Egyptian Society of Technical Analysts (referred to as "ESTA," "we," "us," or "our"). By accessing or using any of our services, you agree to comply with and be bound by these Terms. If you do not agree with these Terms, please do not use our services.
    <br /> 2. Applicability<br />
    These Terms apply to all users, regardless of the type of device used to access ESTA's services. Whether you are using a computer, laptop, mobile phone, tablet, or any other device, these Terms are applicable.
    <br />   3. Use of Social Media Platforms<br />
    ESTA may maintain official social media pages and interact with users through social media platforms. These Terms of Use also apply to your interactions with ESTA on social media. However, please note that each social media platform may have its own terms of use and privacy policies that apply to your use of those platforms.
    <br /> 4. Competitions and Promotions<br />
    From time to time, ESTA may organize competitions, promotions, contests, or sweepstakes ("Competitions") through our digital services. Each Competition may have additional terms and conditions, which will be provided to you separately. For the purposes of each Competition, these Terms will be deemed incorporated into and form a part of the Competition rules.
    <br /> 5. Additional Terms<br />
    Some specific services or features provided by ESTA may be subject to additional and/or different terms of use. If such additional terms apply, you will be directed to those terms for further information.
    <br /> 6. Contact Information<br />
    The Egyptian Society of Technical Analysts is located at "45 Mossadak Street, floor 6, App.11 above Costa Coffee Shop". For any inquiries or concerns related to these Terms and Conditions or your use of our services, please contact us at "info@estaegypt.org".
    <br /> 7. Changes to Terms<br />
    ESTA reserves the right to update or modify these Terms at any time. We will notify users of any significant changes. It is your responsibility to review these Terms periodically to stay informed about any updates.
    <br /> 8. Conclusion<br />
    By using ESTA's services, you agree to abide by these Terms and Conditions. If you do not agree with any part of these Terms, please refrain from using our services.

</div>   <br />
    <br />