@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ESTA.ViewModels.EditModerator;

<form onkeypress="submitForm(event)" asp-action="EditModerator" asp-controller="Moderator" asp-area="Admin" method="post">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <input class="form-control" id="id" type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="FullName" class="form-label">Moderator Full Name</label>
        <input class="form-control" id="FullName" type="text" asp-for="FullName" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="SelectForum" class="form-label">Forums</label>
        <select asp-for="SelectForum" class="form-select select2" id="SelectForum" asp-items="ViewBag.SelectForum" multiple="multiple">
        </select>
        <span asp-validation-for="SelectForum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" id="submit" class="btn btn-primary">submit</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_validationscriptspartial.cshtml");
    }

    <script>
        $(document).ready(function () {
            $('.select2').select2();
            LoadTable()
        });
    </script>
}