/*news details*/
.news-details-area .blog-thumb img{
float: right;
    margin: 40px 20px 20px 20px;
    width: 400px;
    height: auto;
    border-radius:5px;
}
.news-details-area .blog-content p{
    height:auto;
    text-align: justify;
}

@media  (max-width: 426px) {
    #video-div{
        height:auto;
    }
    .courses-grid {
        grid-template-columns: 1fr !important;
    }


    .news-details-area .blog-thumb img,.about-img img{
    float: unset;
    margin: 0;
    width: 100%;
    }
    .blog-content {
    padding:0;
}
    .about-title-section h1 {
    font-size: 24px;
    line-height: normal;
    margin-top: 20px;
}
    .course-details-thumb img {
    width: 100%;
}
    .course-details-title h1 {
        font-size: 22px;
        line-height: 1.5;
    }
    .single-course-details{
        padding:30px 0;
    }
}


.header-title {
    color: rgb(182, 69, 69);
    font-weight: 800;
    font-size: 1rem;
}