

@font-face {
    font-family: 'noto kufi arabic regular';
    src: url('../fonts/noto kufi arabic regular.ttf') format('truetype');
}

body {
    text-align: right !important;
    font-family: 'noto kufi arabic regular', sans-serif !important;
}

.form-control {
    direction: rtl;
}



p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'noto kufi arabic regular', sans-serif !important;
}

.main-menu ul li a {
    font-size: 17px;
    font-weight: 600;
}

.courses-heading {
    direction: rtl;
}

.courses-content-3::after {
    right: 46px;
    left: auto;
}

.ti-angle-double-right {
    transform: rotateY(180deg) !important;
}

.row {
    flex-direction: row-reverse !important;
}



.ar, .header-contact {
    direction: rtl !important;
}

.mean-container a.meanmenu-reveal {
    left: 0 !important;
}


.main-menu ul li ul.submenu li a {
    text-align: right !important;
}

.form-label {
    right: 0 !important;
    left: auto !important;
}


nav {
    direction: rtl
}

.mean-container .mean-nav ul li a {
    text-align: right !important;
}

    .mean-container .mean-nav ul li a.mean-expand {
        left: 0;
        right: auto
    }



.about-title-section p {
    padding-right: initial !important;
    text-align: right !important;
}

.contactUs-section {
    direction: rtl;
}

.profile-section {
    direction: rtl;
}


.single-footer-contact-info {
}


.header-contact span {
    vertical-align: sub !important;
}


.register-english-levels {
    direction: rtl
}

.chk-ar {
    direction: rtl;
    justify-content: flex-end;
}

.footer-menu.clearfix {
    direction: rtl;
}

.footer-menu ul li a:hover {
    margin-right: 10px;
    margin-left: 0px !important;
}

.f-right {
    float: left !important;
}

@media (min-width:1200px) {
    .toggle-search-box {
        left: 0 !important;
        right: auto !important;
    }
}

.toggle-search-box form button {
    left: 11px !important;
    right: auto !important;
}

.main-menu ul li ul.submenu {
    right: 0;
}

.profile-nav ul > li > .nav-link:hover, .profile-nav ul > li > .nav-link:focus, .profile-nav ul li > .nav-link.active {
    border-left: 0 !important;
    border-right: 5px solid var(--primary-color);
}

.profile-nav ul > li > .nav-link {
    border-right: 5px solid #fff;
    border-left: 0 !important;
}

    .profile-nav ul > li > .nav-link > .badge {
        float: left;
    }

.profile-nav ul > li {
    direction: rtl;
}

    .profile-nav ul > li > .nav-link > i {
        padding-left: 10px;
        padding-right: 0px;
    }

.course-date {
    direction: rtl;
}

.courses-pricing-3 {
    margin-right: 20px;
    margin-left: 0px;
}

.news-content {
    text-align: right;
}

#courses-grid {
    direction: rtl;
}

.bio-graph-info {
    direction: rtl;
}
/*
.post-comments-padding {
    direction: rtl !important;
}*/
.post-comments {
    direction: rtl !important;
}
.main-comments {
    /*padding-left: 155px;*/
    /*padding-right: 0px;*/
}

.comments-text {
    padding-right: 20px;
    padding-left: 0px;
}

#CommentList .row {
    flex-direction: row !important;
}

#CommentList li {
    direction: rtl;
}
.comments-reply {
/*    margin-left: 0px;
    margin-right: 90px;*/
}